<!DOCTYPE html>
<html>
    <head>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
       <link rel="Stylesheet" type="text/css" href="{{ asset('css/bookReader.css') }}"/>
    </head>
    <body>
        <div class="naglowek col-xs-12 col-sm-12 col-md-12 col-lg-12">
        </div>
        <div class="srodek">
            <center><h1>{{ title }}</h1></center>
        </div>
        <div class="pasek col-xs-12 col-sm-12 col-md-2 col-lg-2">
           <div class="linki_stron">
	     <table>
	       {% for page_number in 1..pages_quantity %}
	         <tr><td>
	           <a href="{{ page_number - 1 }}">Strona {{ page_number }}</a>
                 </td></tr>
	       {% endfor %}	
	     </table>
           </div>
        </div>
        <div class="zawartosc col-xs-12 col-sm-12 col-md-10 col-lg-10">
                {{ content }}
            <div class="spod_zawartosci col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="lewy col-xs-4 col-sm-4 col-md-4 col-lg-4">
                   <a href={{ back_page }}>{{ back_page_text }}</a>
                </div>
                <div class="numer_strony col-xs-4 col-sm-4 col-md-4 col-lg-4"/>
                    Strona {{ page_number }} na {{ pages_quantity }}
                </div>
                <div class="prawy col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a href={{ next_page }}>{{ next_page_text }}</a>
                </div>
            </div>
	</div>
        <div class="stopka col-xs-12 col-sm-12 col-md-12 col-lg-12">
            Radosław Celary</br>
        </div>
    </body>
</html>
